html {background-color: #c2ab74}

.App {
  text-align: center;
  background-color: #c2ab74;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --black: #333;
  --white: #fff;
  --gray: #aaa;
  --green: #1a8917;
  --border-radius: 4px;
  --transition: 0.4s ease;
  --font-family: Arial, Helvetica, sans-serif;
}

textarea {
  font-family: var(--font-family);
  border: none;
  resize: none;
}

textarea::placeholder {
  color: var(--gray);
}

label {
  height: 0;
  width: 0;
  /* visibility: hidden; */
}

button {
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button[type="submit"] {
  background: #40B0A6;
  color: var(--white);
  border-radius: var(--border-radius);
}

button[type="reset"] {
  background: #E1BE6A;
  border-radius: var(--border-radius);
}

.comment-box {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 50px auto;
  background: var(--white);
  border-radius: var(--border-radius);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 14px;
  transition: min-height var(--transition);
  max-height: 46px;
}

.comment-box.modified {
  max-height: unset;
}

comment-field {
  color: var(--black);
  transition: transform var(--transition);
  font-size: 18px;
  width: 100%;
  outline: none;
  padding: 0;
  min-height: 60px;
  transform: translateY(-32px);
  line-height: 1;
}

.actions {
  width: 100%;
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  margin-top: 50px;
  opacity: 0;
  transition: opacity var(--transition) 0.2s;
}

.comment-box.expanded .actions {
  opacity: 1;
}

.actions button {
  margin-left: 6px;
  font-size: 14px;
  padding: 12px;
  border: none;
  line-height: 1;
}

.actions .cancel {
  background: none;
}

.comment-box.expanded .comment-field {
  transform: translateY(40px);
}

.world-list {
  border-radius: 10px;
  border: 10px solid black;
  width: 65%;
  margin: auto;
  margin-bottom: 20px;
  background-color: #E0D4B8;
}

.navbar{
  width: 100%;
  min-height: 3vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .7s ease-in;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #81715c;
}

.campaign-title {
  font-family: fantasy;
  font-size: x-large;
  font-weight: bolder;
}

.world-list-header {
  font-family: fantasy;
  font-size: xx-large;
  margin-right: 1%;
}

.campaign-image {
  height: 50%;
  width: 50%;
  border-radius: 10%;
}

.post-image {
  margin: auto;
  height: 50%;
  width: 50%;
}

.post {
  margin: auto;
  border-radius: 30px;
  width: 70%;
  background-color: #E0D4B8;
  border: 3px solid gray;
  margin-bottom: 5px;
}

.post-type {
  margin: auto; 
  font-style: italic;
  font-size: medium;
  font-weight: 250;
}

.new-world-form {
  margin-top: 4%;
}

.about-page {
  margin-top: 3%;
}

.world-search-form {
  margin-bottom: 1%;
  margin-right: 2%;
}

.single-world {
  margin-top: 5%;
}

.single-post {
  margin-top: 3%;
}

.create-world-error{
  margin-top: 10%;
}

.comment {
  margin-top: 1%;
  border: 2px solid gray;
  width: 50%;
  margin: auto;
  margin-bottom: 1%;
  background-color: lightgray;
}

.comment-delete{
  margin-left: 96.5%;
  background-color: #d96030;
}

.home-page {
  margin-top: 3%;
}

.home-page-text {
  margin-top: 2%;
}

li{
  margin: 5px;
}
